<?xml version='1.0' standalone='yes'?>
<!DOCTYPE PLUGIN>

<PLUGIN 
  name="open.files"
  author="Derek Kaser"
  version="{{ env['PLUGIN_VERSION'] }}"
  launch="Tools/OpenFiles"
  pluginURL="https://raw.githubusercontent.com/dkaser/unraid-openfiles/main/plugin/open.files.plg"
  support="https://forums.unraid.net/topic/41196-open-files-plugin-can-help-with-troubleshooting-why-server-wont-shut-down/"
  min="7.0.0"
  icon="folder-open"
>

<CHANGES>
<![CDATA[
###{{ env['PLUGIN_VERSION'] }}###
{{ env['PLUGIN_CHANGELOG'] }}

For older releases, see https://github.com/dkaser/unraid-openfiles/releases
]]>
</CHANGES>

<FILE Name="/boot/config/plugins/open.files/unraid-openfiles-{{ env['PLUGIN_VERSION'] }}-noarch-1.txz">
<URL>https://github.com/dkaser/unraid-openfiles/releases/download/{{ env['PLUGIN_VERSION'] }}/unraid-openfiles-{{ env['PLUGIN_VERSION'] }}-noarch-1.txz</URL>
<SHA256>{{ env['PLUGIN_CHECKSUM'] }}</SHA256>
</FILE>

<!--
The 'install' script.
-->
<FILE Run="/bin/bash">
<INLINE>
<![CDATA[
upgradepkg --install-new /boot/config/plugins/open.files/unraid-openfiles-{{ env['PLUGIN_VERSION'] }}-noarch-1.txz

# cleanup old versions
rm -f $(ls /boot/config/plugins/open.files/unraid-openfiles-*.txz 2>/dev/null | grep -v '{{ env['PLUGIN_VERSION'] }}')

echo "VERSION={{ env['PLUGIN_VERSION'] }}" > /usr/local/emhttp/plugins/open.files/version.ini

echo ""
echo "----------------------------------------------------"
echo " open.files has been installed."
echo " Version: {{ env['PLUGIN_VERSION'] }}"
echo "----------------------------------------------------"
echo ""
]]>
</INLINE>
</FILE>

<!--
The 'remove' script.
-->
<FILE Run="/bin/bash" Method="remove">
<INLINE>
<![CDATA[
removepkg unraid-openfiles

rm -rf /usr/local/emhttp/plugins/open.files
rm -rf /boot/config/plugins/open.files
]]>
</INLINE>
</FILE>

</PLUGIN>
